.parent {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  resize: both;
  overflow: auto;
}

.child {
  //  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
  //  If we don't want the items to stretch:
  flex: 0 1 300px;
  //  If we do want the items to stretch:
  flex: 1 1 300px;
  
  //   etc.
  border: 1px dashed ;
  border-radius: 16px;
  background: rgb(212, 242, 196);
  font-size: 16px;
  display: grid;
  place-items: center;
  margin: 5px;
  padding: 16px;
}

body {
  font-family: system-ui, serif;
}