.parent {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;

  resize: both;
  overflow: auto;
}

header {
  background: rgb(245, 224, 233);
  border: 1px dashed;
  padding: 16px;
  grid-column: 1 / 4;
}

.left-sidebar {
  background: rgb(169, 226, 234);
  border-left: 1px dashed;
  padding: 16px;
  grid-column: 1 / 2;
}

main {
  background: rgb(247, 200, 171);
  border-left: 1px dashed;
  border-right: 1px dashed;
  padding: 16px;
  grid-column: 2 / 3;
}

.right-sidebar {
  background: rgb(254, 232, 180);
  border-right: 1px dashed;
  padding: 16px;
  grid-column: 3 / 4;
}

footer {
  background: rgb(212, 242, 196);
  padding: 16px;
  grid-column: 1 / 4;
  border: 1px dashed;
}

body {
  font-family: system-ui, sans-serif;
}
