.parent {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
  resize: both;
  overflow: auto;
}

header {
  background: rgb(169, 226, 234);
  padding: 16px;
  border: 1px dashed;
}

main {
  background: rgb(247, 200, 171);
  border-left: 1px dashed;
  border-right: 1px dashed;
  padding: 16px;
}

footer {
  background: rgb(223, 211, 228);
  padding: 16px;
  border: 1px dashed;
}
