.parent {
  display: grid;
  // height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  font-family: system-ui, sans-serif;

  resize: both;
  overflow: auto;
}

div {
  display: grid;
  place-items: center;
  background: rgb(212, 242, 196);
  padding: 16px;
  border: 1px dashed;
  border-radius: 16px;
}
